# Ignore all files by default, but scan all directories.
*
!*/

# Do not ignore git files in the root of the repo.
!/.git*

# Do not ignore current project's `.uplugin`.
!/*.uplugin

# Do not ignore current project's `.clang-format`.
!/*.clang-format

# Do not ignore source, config and raw content dirs.
!/Source/**
!/Config/**
!/RawContent/**

# Only allow .uasset and .umap files from /Content dir.
!/Content/**/*.uasset
!/Content/**/*.umap